{% extends "admin/change_form_object_tools.html" %}
{% load admin_urls %}

{% block object-tools-items %}
  {% if has_change_permission %}
  <li>
    <a href="{% url opts|admin_urlname:'merge-select-other-company' %}?company_1={{ original.pk|admin_urlquote }}">
      Merge with another company
    </a>
  </li>
    {% if original.archived and not original.transferred_to %}
    <li>
        <a href="{% url opts|admin_urlname:'unarchive-company' %}?company={{ original.pk|admin_urlquote }}">
          Unarchive company
        </a>
    </li>
    {% endif %}
  {% endif %}
  {% if has_change_permission and original.duns_number %}
  <li>
    <a href="{% url opts|admin_urlname:'update-from-dnb' original.pk %}">
      Update from D&B
    </a>
  </li>
  {% endif %}
{{block.super}}
{% endblock %}
