{% load admin_urls %}
<li>
  <input name="selected_company" value="{{ index }}" required="" id="id_selected_company_radio_{{ index }}" type="radio"
    {% if not company.is_valid_merge_target or not other_company.is_valid_merge_source %}disabled{% endif %}
  >
  <label for="id_selected_company_radio_{{ index }}">
    {% if not company.is_valid_merge_target %}
      <span class="error">This company can&rsquo;t be selected as it&rsquo;s been archived.</span>
      <br>
    {% endif %}

    {% if not other_company.is_valid_merge_source %}
      <span class="error">This company can&rsquo;t be selected as there are related records that can&rsquo;t be moved from the other company.</span>
      <br>
    {% endif %}

    <strong>{{ company.name }}</strong>
    <br>
    {{ company.pk }}
    <br>
    Created on {{ company.created_on }}
    <br>
    {% with company.contacts.count as contact_count %}
    {{ contact_count }} contact{{ contact_count|pluralize }}
    {% endwith %}
    <br>
    {% with company.interactions.count as interaction_count %}
    {{ interaction_count }} interaction{{ interaction_count|pluralize }}
    {% endwith %}
    <br>
    <a href="{% url opts|admin_urlname:'change' company.pk|admin_urlquote %}">View complete record</a>
  </label>
</li>
