{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrastyle %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'company/admin/css/merge-list.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'company/admin/css/merge-button.css' %}">
{% endblock %}

{% block extrahead %}
  {{ block.super }}
  {{ media }}
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {{ title }}
</div>
{% endblock %}

{% block content %}
{% if not merge_items %}
  <p>No companies have been added to the merge list.</p>
{% else %}
  <div class="results">
    <table class="company-merge-list">
    <thead>
      <tr>
      {% for column in columns.values %}
      <th scope="col">
         <div class="text">{{ column|capfirst }}</div>
         <div class="clear"></div>
      </th>
      {% endfor %}
      <th scope="col">
         <div class="text">Actions</div>
         <div class="clear"></div>
      </th>
      </tr>
    </thead>
    <tbody>
      {% for pk, item in merge_items.items %}
      <tr class="{% cycle 'row1' 'row2' %}">
        {% for value in item %}
        {% if forloop.counter0 == 0 %}
        <td><a href="{% url opts|admin_urlname:'change' pk|admin_urlquote %}">{{ value }}</a></td>
        {% else %}
          <td>{{ value }}</td>
        {% endif %}
        {% endfor %}
        <td>
          <form action="{% url opts|admin_urlname:'remove-from-merge-list' pk|admin_urlquote %}" method="post">
            {% csrf_token %}
            <button class="object-tool-button">Remove from list</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
    </table>
  </div>
{% endif %}

{% endblock %}
