{% extends "admin/interaction/interaction/base_import.html" %}
{% load i18n admin_urls static %}

{% block content %}
  <p>
    The file selected could not be loaded due the following errors.
    Edit the file and <a href="{% url 'admin:interaction_interaction_import' %}">then try again</a>.
  </p>

  <table>
    <thead>
      <tr>
        <th>{% trans 'Row' %}</th>
        <th>{% trans 'Field' %}</th>
        <th>{% trans 'Value' %}</th>
        <th>{% trans 'Error' %}</th>
      </tr>
    </thead>
  {% for error in errors %}
    <tr>
      <td>{{ error.display_source_row }}</td>
      <td>{{ error.display_field }}</td>
      <td>{{ error.value }}</td>
      <td>{{ error.error }}</td>
    </tr>
  {% endfor %}

  {% if num_errors_omitted %}
    <tfoot>
      <tr>
        <td colspan="4">
          {% blocktrans %}
            ...and {{ num_errors_omitted }} more errors (not shown)
          {% endblocktrans %}
        </td>
      </tr>
    </tfoot>
  {% endif %}

  </table>
{% endblock %}
