{% extends 'admin/interaction/interaction/base_import.html' %}
{% load admin_urls i18n static %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'interaction/admin/css/import-preview.css' %}">
{% endblock %}

{% block content %}
  <h2>{% trans 'No matching contacts found' %}</h2>

  <p>{% trans 'No interactions have been imported as none of the loaded interactions could be matched to active contacts.' %}</p>

  {% include 'admin/interaction/interaction/fragment_post_import_counts.html' with num_matched=0 num_unmatched=num_unmatched num_multiple_matches=num_multiple_matches only %}

  <p>
    <a href="{% url opts|admin_urlname:'import' %}">
      {% trans 'Select another file' %}
    </a>
  </p>

{% endblock %}
