[format]
max-line-length=99
ignore-paths = .*/migrations/.*,.*/__pycache__,manage.py,config/settings/.*,env/.*
; C0103: Module name <foo> doesn't conform to snake_case naming style (invalid-name)
; C0114: Missing module docstring (missing-module-docstring)
; C0115: Missing class docstring (missing-class-docstring)
; E1101: Instance of '_MPTTObjectName' has no 'parent' member (no-member)
;  * This is often incorrect for dynamically generated fields e.g. django ORM models `objects`
; R0801: Similar lines in 2 files
; W0511: TODO: <todo> (fixme)
disable=C0103,C0114,C0115,E1101,R0801,W0511
max-parents=10
min-public-methods=0
load-plugins=pylint_django,pylint_pytest
django-settings-module=config.settings.dev

# vim: ft=dosini
