version: '2'
services:

  leeloo:
    build:
      context: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    entrypoint: |
        dockerize -wait tcp://postgres:5432 -timeout 60s
    environment:
      SECRET_KEY: foobar
      DATABASE_URL: postgresql://postgres@postgres/datahub
      DATAHUB_SECRET: secret
      DEBUG: 'True'
      DJANGO_SECRET_KEY: changeme
      DJANGO_SETTINGS_MODULE: config.settings.local
      COV_TOKEN: ${COV_TOKEN}
      ES_INDEX: test
      ES_HOST: es
      ES_PORT: 9200
    depends_on:
      - postgres
      - es
    links:
      - postgres
      - es
    command: /app/start.sh

  postgres:
    image: postgres:9.5
    restart: always
    environment:
      - POSTGRES_DB=datahub

  es:
    image: elasticsearch:2.3
    restart: always
    ports:
      - "9200:9200"
