-r requirements.in

# Testing and dev
pytest==7.2.0
pytest-django==4.5.2
pytest-cov==4.0.0
pytest-xdist==3.0.2
ipython==8.6.0
factory-boy==3.2.1
freezegun==1.2.2
requests-mock==1.10.0
pip-tools==6.10.0
piprot==0.9.11
watchdog[watchmedo]==2.2.0
pre-commit==2.20.0

# Code static analysis
flake8==4.0.1
flake8-bugbear==22.1.11
flake8-commas==2.1.0
flake8-debugger==4.1.2
flake8-import-order==0.18.2
flake8-docstrings==1.6.0
flake8-print==5.0.0
flake8-quotes==3.3.1
flake8-string-format==0.3.0
pep8-naming==0.13.2
pydocstyle==6.1.1
pylint==2.14.5
pylint-django==2.5.3
pylint-pytest==1.1.2
