# For CH Sync
lxml==4.1.1
cssselect==1.0.1

# Django and django related
Django==2.0.1
djangorestframework==3.7.7
django-environ==0.4.4
django-extensions==1.9.8
django-filter==1.1.0
django-reversion==2.0.12
django-pglocks==1.0.2
django-model-utils==3.0.0

django-oauth-toolkit==1.0.0
whitenoise==3.3.1
pyyaml==3.12
python-dateutil==2.6.1

# Persistency layer
psycopg2==2.7.3.2

boto3==1.4.8

notifications-python-client==4.7.1

# ES
elasticsearch==5.4.0
elasticsearch-dsl==5.3.0

# Testing and dev
pytest==3.2.3
pytest-django==3.1.2
pytest-sugar==0.9.0
pytest-cov==2.5.1
ipython==6.2.1
ipdb==0.10.3
factory-boy==2.9.2
freezegun==0.3.9
requests-mock==1.4.0
django-debug-toolbar==1.9.1
werkzeug==0.12.2  # Required by runserver_plus - useful 4 local dev
pip-tools==1.9.0

# Code static analysis
flake8==3.5.0
flake8-blind-except==0.1.1
flake8-debugger==3.0.0
flake8-import-order==0.14.3
flake8-docstrings==1.1.0
flake8-print==3.0.1
flake8-quotes==0.9.0
flake8-string-format==0.2.3
pep8-naming==0.4.1
pydocstyle==2.1.1

gunicorn==19.7.1
gevent==1.2.2
raven==6.4.0
requests==2.18.4
requests_toolbelt==0.8.0
