-r requirements.in

# Testing and dev
pytest==8.3.5
pytest-django==4.11.1
pytest-cov==6.1.1
pytest-mock==3.14.0
pytest-xdist==3.6.1
ipython==8.36.0
factory-boy==3.3.3
freezegun==1.5.2
requests-mock==1.12.1
pip-tools==7.4.1
piprot==0.9.11
pre-commit==3.8.0
moto==5.1.4

# Code static analysis
ruff==0.11.10
