# Django and django related
django==3.2.23
djangorestframework==3.14.0
django-axes==6.3.0
django-csp==3.7
django-environ==0.11.2
django-extensions==3.2.3
django-filter==23.5
django-log-formatter-ecs==0.0.5
django-mptt==0.15.0
django-pglocks==1.0.4
django-reversion==5.0.10
uritemplate==4.1.1  # required for DRF schema features
whitenoise==6.6.0

chardet==5.2.0
pyyaml==6.0.1
python-dateutil==2.8.2

# Persistency layer
psycopg2==2.9.9
psycogreen==1.0.2

boto3==1.34.29

notifications-python-client==9.0.0

# Prometheus
statsd==4.0.1

# Email
mail-parser==3.15.0
icalendar==5.0.11

# Slack
slackclient==2.9.4

# REDIS
django-redis==5.4.0

# OpenSearch
opensearch-py==2.4.2
opensearch-dsl==2.1.0

# ES APM
elastic-apm==6.20.0

# Testing and dev
django-debug-toolbar==4.2.0
werkzeug==3.0.1  # Required by runserver_plus - useful for local dev

WSGIserver==1.3
gevent==23.9.1
mohawk==1.1.0
requests==2.31.0
requests_toolbelt==1.0.0
sentry_sdk==1.39.2

# RQ and associated helpers
rq==1.15.1
rq-scheduler==0.13.1

python-redis-rate-limit==0.0.8

#Tree related
bigtree
pandas