# Django and django related
django==3.1.12
djangorestframework==3.12.4
django-axes==5.19.0
django-environ==0.4.5
django-extensions==3.1.3
django-filter==2.4.0
django-mptt==0.12.0
django-pglocks==1.0.4
django-reversion==3.0.9
uritemplate==3.0.1  # required for DRF schema features
whitenoise==5.2.0

chardet==4.0.0
pyyaml==5.4.1
python-dateutil==2.8.1

# Persistency layer
psycopg2==2.9.1
psycogreen==1.0.2

boto3==1.17.101

notifications-python-client==6.2.0

# Prometheus
statsd==3.3.0

# Email
mail-parser==3.15.0
icalendar==4.0.7

# Slack
slackclient==2.9.3

# REDIS
django-redis==5.0.0
redis==3.5.3

# ES
elasticsearch==7.13.1
elasticsearch-dsl==7.3.0

# ES APM
elastic-apm==6.2.3

# Celery
celery[redis]==4.4.7
billiard==3.6.4.0  # Not used directly, but pinned as it has been a source of breakage in the past
kombu==4.6.11  # Not used directly, but pinned as it has been a source of breakage in the past

# Testing and dev
pytest==6.2.4
pytest-django==4.4.0
pytest-cov==2.12.1
pytest-xdist==2.3.0
ipython==7.25.0
factory-boy==3.2.0
freezegun==1.1.0
requests-mock==1.9.3
django-debug-toolbar==3.2.1
werkzeug==2.0.1  # Required by runserver_plus - useful for local dev
pip-tools==6.2.0
piprot==0.9.11
semantic_version==2.8.5
towncrier==21.3.0
watchdog[watchmedo]==2.1.3
pre-commit==2.13.0


# Code static analysis
flake8==3.9.2
flake8-bugbear==21.4.3
flake8-commas==2.0.0
flake8-debugger==4.0.0
flake8-import-order==0.18.1
flake8-docstrings==1.6.0
flake8-print==4.0.0
flake8-quotes==3.2.0
flake8-string-format==0.3.0
pep8-naming==0.11.1
pydocstyle==6.1.1

gunicorn==20.1.0
gevent==21.1.2
mohawk==1.1.0
requests==2.25.1
requests_toolbelt==0.9.1
sentry_sdk==1.1.0
simple_salesforce==1.11.2
