{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
  {{ block.super }}
  {{ media }}
{% endblock %}

{% block extrastyle %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'admin/css/forms.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'company/admin/css/merge/step-2-primary-selection.css' %}">
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
&rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
&rsaquo; {% trans 'Merge duplicate companies' %}
</div>
{% endblock %}

{% block content %}
  <p>{% blocktrans %}Which company should be kept as the active record?{% endblocktrans %}</p>

  <form action="" method="post">
    {% csrf_token %}

    {{ form.non_field_errors }}
    <div class="fieldWrapper">
      {{ form.selected_company.errors }}
      <ul id="id_selected_company">
        {% include 'admin/company/company/merge/step_2_primary_selection_radio.html' with company=company_1 other_company=company_2 index='1' opts=opts only %}
        {% include 'admin/company/company/merge/step_2_primary_selection_radio.html' with company=company_2 other_company=company_1 index='2' opts=opts only %}
      </ul>
    </div>

    <p>{% blocktrans %}All contacts and interactions will be transferred to the selected company. The other company will be archived.{% endblocktrans %}</p>

    <div>
      <input type="submit" value="{% trans 'Next' %}">
    </div>
  </form>
{% endblock %}
