{% load i18n datahub_extras %}
<li>
  <input name="selected_company" value="{{ index }}" required="" id="id_selected_company_radio_{{ index }}" type="radio"
    {% if not option.is_valid %}disabled{% endif %}
  >
  <label for="id_selected_company_radio_{{ index }}">
    <strong>{{ option.target.name }}</strong>
    {% if not option.is_target_valid %}
      <br>
      <span class="error">{% trans 'This company can&rsquo;t be selected as it&rsquo;s been archived.' %}</span>
    {% endif %}

    {% if not option.is_source_valid %}
      <br>
      <span class="error">{% trans 'This company can&rsquo;t be selected as there are related records that can&rsquo;t be moved from the other company.' %}</span>
    {% endif %}
    <br>
    {{ option.target.pk }}
    <br>
    {% blocktrans with created_on=option.target.created_on %}Created on {{ created_on }}{% endblocktrans %}
    <br>
    {% with option.target.contacts.count as contact_count %}
    {{ contact_count }} contact{{ contact_count|pluralize }}
    {% endwith %}
    <br>
    {% with option.target.interactions.count as interaction_count %}
    {{ interaction_count }} interaction{{ interaction_count|pluralize }}
    {% endwith %}
    <br>
    {% blocktrans with obj_change_url=option.target|admin_change_url site_url=option.target.get_absolute_url %}
    <a href="{{ obj_change_url }}" target="_blank">View company on admin site</a> or <a href="{{ site_url }}" target="_blank">view on Data Hub</a>
    {% endblocktrans %}
  </label>
</li>
