version: 2
jobs:
  build:
    docker:
      - image: python:3.6

      - image: elasticsearch:5.5

      - image: postgres:9.5
        environment:
          POSTGRES_DB=datahub

    environment:
      DATABASE_URL: postgresql://postgres@localhost/datahub
      DATAHUB_SECRET: secret
      DEBUG: 'True'
      DJANGO_SECRET_KEY: changeme
      DJANGO_SETTINGS_MODULE: config.settings.local
      ES_USE_AWS_AUTH: 'False'
      ES_INDEX: test_index
      ES5_URL: http://localhost:9200
      AWS_DEFAULT_REGION: eu-west-2
      AWS_ACCESS_KEY_ID: foo
      AWS_SECRET_ACCESS_KEY: bar
      DOCUMENTS_BUCKET: baz
      SSO_ENABLED: 'True'
      RESOURCE_SERVER_INTROSPECTION_URL: http://sso/o/introspect/
      RESOURCE_SERVER_AUTH_TOKEN: sso-token

    working_directory: ~/app

    steps:
      - checkout

      - restore_cache:
          name: Restore pip cache
          keys:
            - v1-leeloo-{{ checksum "requirements.txt" }}
            - v1-leeloo-
          paths:
            - ~/cache/pip

      - run:
          name: Install dependencies
          command: pip install --cache-dir ~/cache/pip -r requirements.txt

      - save_cache:
          name: Save pip cache
          key: v1-leeloo-{{ checksum "requirements.txt" }}
          paths:
            - ~/cache/pip
      - run:
          name: Run Flake8
          command: flake8

      - run:
          name: Run tests
          command: |
            set -xu
            ./tests.sh

      - run:
          name: Publish coverage
          command: |
            set -xu
            wget -O codecov.sh https://codecov.io/bash
            bash ./codecov.sh -t ${COV_TOKEN}
