{% extends "admin/change_list_object_tools.html" %}
{% load i18n admin_urls %}

{% block object-tools-items %}
  {% if has_add_permission and show_add_from_sso %}
    <li>
      {% url cl.opts|admin_urlname:'add-from-sso' as add_from_sso_url %}
      <a href="{% add_preserved_filters add_from_sso_url is_popup to_field %}" class="addlink">
        {% blocktrans with cl.opts.verbose_name as name %}Add {{ name }} from SSO{% endblocktrans %}
      </a>
    </li>
  {% endif %}
  {{block.super}}
{% endblock %}
