{# based on Django delete confirmation page #}
{% extends "admin/base_site.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
    {{ block.super }}
    {{ media }}
    <script type="text/javascript" src="{% static 'admin/js/cancel.js' %}"></script>
{% endblock %}

{% block bodyclass %}{{ block.super }} app-{{ opts.app_label }} model-{{ opts.model_name }}
    delete-confirmation{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
        &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
        &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
        &rsaquo; {{ title }}
    </div>
{% endblock %}

{% block content %}
    <p>Are you sure you want to {{ action_message }}?</p>
    <h2>{{ opts.verbose_name_plural|capfirst }}</h2>
    <br/>
    <ul style="padding: 0">
        {% for obj in queryset.all %}
            <li style="list-style: none; margin: 5px">
                <strong>{{ obj }}</strong>
            </li>
        {% endfor %}
    </ul>
    <br/>
    <form method="post">{% csrf_token %}
        <div>
            <input type="hidden" name="confirm" value="yes"/>
            {% for obj in queryset.all %}
                <input type="hidden" name="{{ action_checkbox_name }}" value="{{ obj.pk }}"/>
            {% endfor %}
            {{ form }}
            <input type="hidden" name="action" value="{{ action }}"/>
            <input type="submit" value="{% trans "Yes, I'm sure" %}"/>
            <a href="#" class="button cancel-link">{% trans "No, take me back" %}</a>
        </div>
    </form>
{% endblock %}