{% load govuk_frontend_django %}

<div class="govuk-width-container">
    <div class="govuk-grid-row">
      {% include "company/filters.html" %}
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-m">{{ count }} Companies</h2>
        <a href="#" class="govuk-link">Remove all filters</a>
        <button type="submit" class="govuk-button govuk-button--secondary" data-module="govuk-button">
          Add company
        </button>
        <hr />
        <div id="htmx-company-results">{% include "company/results.html" %}</div>
      </div>
    </div>
</div>
