{% load govuk_frontend_django %}

<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">Filters</h2>
  <form
    hx-post="/api-proxy/v4/search/company.html"
    hx-trigger="load"
    hx-target="#htmx-company-results"
  >
    <!-- Company details section -->
    <details class="govuk-details" open>
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Company details</span>
      </summary>
      <div class="govuk-details__text">
        <!-- Company name -->
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="company-name">
            Company name
          </label>
          <input
            class="govuk-input"
            id="company-name"
            name="name"
            type="text"
            placeholder="Search company name"
            value=""
          />
        </div>
        <!-- Status  -->
        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
              <h1 class="govuk-fieldset__heading">Status</h1>
            </legend>
            <div
              class="govuk-checkboxes govuk-checkboxes--small"
              data-module="govuk-checkboxes"
            >
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="active"
                  name="status_active"
                  type="checkbox"
                  value="true"
                  hx-post="/api-proxy/v4/search/company.html"
                  hx-trigger="change"
                  hx-target="#htmx-company-results"
                />
                <label class="govuk-label govuk-checkboxes__label" for="active">
                  Active
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input
                  class="govuk-checkboxes__input"
                  id="inactive"
                  name="status_inactive"
                  type="checkbox"
                  value="true"
                  hx-post="/api-proxy/v4/search/company.html"
                  hx-trigger="change"
                  hx-target="#htmx-company-results"
                />
                <label
                  class="govuk-label govuk-checkboxes__label"
                  for="inactive"
                >
                  Inactive
                </label>
              </div>
            </div>
          </fieldset>
        </div>
        <!-- Sector -->
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="sector">
            Sector
          </label>
          <select
            class="govuk-select"
            id="sector"
            name="sector_descends"
            placeholder="Search sector"
            value=""
            hx-post="/api-proxy/v4/search/company.html"
            hx-trigger="change"
            hx-target="#htmx-company-results"
          >
            <option value="" selected="">Search sector</option>
            {% for sector in sectors %}
            <option value="{{ sector.id }}">{{ sector.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </details>

    <!-- Location details section -->
    <details class="govuk-details" expanded>
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">Location details</span>
      </summary>
      <div class="govuk-details__text">
        <!-- Country -->
        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--s" for="sector">
            Country
          </label>
          <select
            class="govuk-select"
            id="country"
            name="country"
            value=""
            hx-post="/api-proxy/v4/search/company.html"
            hx-trigger="change"
            hx-target="#htmx-company-results"
          >
            <option value="" selected="">Search country</option>
            {% for country in countries %}
            <option value="{{ country.id }}">{{ country.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
    </details>

    <button
      class="govuk-button"
      data-module="govuk-button"
      hx-post="/api-proxy/v4/search/company.html"
      hx-trigger="click"
      hx-target="#htmx-company-results"
    >
      Load Companies
    </button>
  </form>
</div>
