{% load govuk_frontend_django %}
<div class="govuk-grid-column-one-third">
  <h2 class="govuk-heading-m">Filters</h2>
  <form>

    <label class="govuk-label govuk-label--s" for="event-name">
      Company name
    </label>
    </h1>
    <input class="govuk-input" name="name" type="text" placeholder="Search company name" value="">

    <div class="govuk-form-group">
      <fieldset class="govuk-fieldset">
        <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
          <h1 class="govuk-fieldset__heading">
            Status
          </h1>
        </legend>
        <div class="govuk-checkboxes govuk-checkboxes--small" data-module="govuk-checkboxes">
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="active" name="archived" type="checkbox" value="false">
            <label class="govuk-label govuk-checkboxes__label" for="active">
              Active
            </label>
          </div>
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="inactive" name="archived" type="checkbox" value="true">
            <label class="govuk-label govuk-checkboxes__label govuk-checkboxes__label--small" for="inactive">
              Inactive
            </label>
          </div>
        </div>
      </fieldset>
    </div>

    <button class="govuk-button" data-module="govuk-button" hx-post="/api-proxy/v4/search/company.html"
      hx-trigger="click" hx-target="#htmx-company-results">
      Load Companies
    </button>
  </form>

</div>