DJANGO_SECRET_KEY=dev
DEBUG=True
DATABASE_URL=postgres://localhost/datahub
MI_DATABASE_URL=postgres://localhost/mi
ES5_URL=http://localhost:9200
# Set this if you are using a host for elasticsearch other than localhost
# ES related tests may hang otherwise
#TEST_ES_SERVER=es:9200
ES_INDEX_PREFIX=test
DOCKER_DEV=True
AWS_DEFAULT_REGION=eu-west-2
AWS_ACCESS_KEY_ID=foo
AWS_SECRET_ACCESS_KEY=bar
DEFAULT_BUCKET=baz
SSO_ENABLED=True
RESOURCE_SERVER_INTROSPECTION_URL=http://sso/o/introspect/
RESOURCE_SERVER_AUTH_TOKEN=sso-token
REDIS_BASE_URL=redis://localhost:6379
ACTIVITY_STREAM_ACCESS_KEY_ID=some-id
ACTIVITY_STREAM_SECRET_ACCESS_KEY=some-secret
ACTIVITY_STREAM_OUTGOING_URL=http://activity.stream/
ACTIVITY_STREAM_OUTGOING_ACCESS_KEY_ID=some-outgoing-id
ACTIVITY_STREAM_OUTGOING_SECRET_ACCESS_KEY=some-outgoing-secret
MARKET_ACCESS_ACCESS_KEY_ID=market-access-id
MARKET_ACCESS_SECRET_ACCESS_KEY=market-access-key
HAWK_RECEIVER_IP_WHITELIST=1.2.3.4
